<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pass-shrine</title>
    <link rel=icon href="{{ url_for('static', filename="favicon.ico") }}" type="image/vnd.microsoft.icon" sizes="16x16 24x24 32x32 128x128 256x256">
</head>
<body>
    <h1>Welcome to my pass-shrine!</h1>
    <form method="post">
        <label for="{{ field }}">Password name: </label>
        <input name="{{field }}" id="{{ field }}" placeholder="Password to query...">
        <input type="submit" value="Query" >
    </form>
    {%- if password_data -%}
    <br>
    <div>
        <p>Requested password: <code>{{ requested_password }}</code></p>
        <pre>{{ password_data }}</pre>
    </div>
    {%- endif -%}
</body>
</html>
